@font-face {
    font-family: italiana;
    src: url(Italiana/Italiana-Regular.ttf);
}
@font-face {
    font-family: roboto ;
    src: url(Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: vioda;
    src: url(Viaoda_Libre/ViaodaLibre-Regular.ttf);
}


:root {font-size: 62.5%;}
body {margin: auto;}


.topo{
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
width: 99.03vw;
height: 80vh;
}

header {display: flex;
text-align: center;
background-color: #162028;
margin: 0;
height: 8rem;
}

h1 {color: white;
margin-left: 18rem; 
font-family: vioda;
font-size: 4rem;
display: flex; 
text-wrap: nowrap;
margin-top: 1rem;
}

ul {color: white;
list-style: none;
display: flex;
justify-content: center;
font-size: 1.8rem; 
margin-left: 40rem;
text-align: center;
margin-top: 3rem;}

li {padding: 0 3rem;
text-transform: uppercase;
font-family: roboto;
font-size: 1.5rem;
letter-spacing: 1rem;
    }

a {text-decoration: none;
color: #425564;}

a:hover {color: #29363f;}

h2 {text-align: center;
font-size: 4rem;
margin-top: 10rem;
color:  #555;
font-family: italiana;}

.p1 {text-align: center;
 line-height: 3rem;
width: 60vw;
font-size: 1.8rem;
margin: auto;
color:  #555;
font-family: roboto;}


.card {display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap; 
    margin-top: 4rem;}


.cards {display: flex;
flex-direction: column;
padding: 2rem;
text-align: center;
justify-content: center;
width: 20.5rem;
margin-top: 3rem;}

h3 {font-size: 2rem;
    color:  #555;
margin-bottom: 1rem;
font-family: roboto;}

.card-p {font-size: 1.5rem;
margin-top: 0;
color:  #555;
font-family: roboto;}

.fundoazul {background-image: url(bg_detalhe.png);
padding: 25rem;
background-repeat: no-repeat;
background-size: cover;
margin-top: 10rem;
}

.h2-2 {color:  white;
margin-top: 0;
font-size: 5rem;
letter-spacing:0.3rem ;
font-family: italiana;
}

.p2 {font-size: 1.8rem;
    font-family: roboto;
line-height: 3rem;
color:white;} 

footer {background-color: #0b171f;
color: #6f8597;
padding: 2rem;
text-align: center;
font-size: 2rem;
letter-spacing:0.3rem ;}